<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Makingoutwith.men!</title>
  <link rel="shortcut icon" href="static/images/icon.jpg"/>
  <link rel="stylesheet" href="static/style.css">
</head>


<div class = "banner m16 ">
  <div class = "center">
    <div class = "panel fill mt16">
      <div class = "inset-panel m16 p16">
        <div class = "button bold" href="index.html">Budden</div>
        <div class = "button bold" href="index.html"><div>Butden</div></div>
      </div>
    </div>
    <div class = "panel fill mt16">
      <div class = "inset-panel fill mt16">
      <img class = "inset-panel m16" style='height: 100%; width: 100%; object-fit: contain' src="static/images/cooltext.gif">
    </div>
  </div>
    <div class = "panel fill mt16">
      <div class = "inset-panel m16 p16">
      <div class = "button bold" href="index.html">Budden</div>
      <div class = "button bold" href="index.html"><div>Butden</div></div>

      </div>
    </div>
  </div>
</div>

<body class>
  <header class = "panel flex-column">
    <div class = "inset-panel p16 m16 flex-column">
      <img class = "inset-panel" style='height: 100%; width: 100%; object-fit: contain' src="static/images/cooltext.gif">
    </div>

    <div class = "inset-panel m16 p16 g8 flex-row">
      <div class = "button bold" href="index.html">Budden</div>
      <div class = "button bold" href="index.html"><div>Butden</div></div>
      <div class = "button bold" href="index.html"><div>budtopn</div></div>
      <div class = "button bold" onclick="location.href='https://www.youtube.com/@shittykickflips';"><div>Budapest</div></div>
      <div class = "button bold" onclick="location.href='https://www.1877floorguy.com/mreatsitcarpet2gal.html';"><div>Budder</div></div>
    </div>
  </header>



  <main class = "panel flex-column mt16">
    <div class = "inset-panel m16 p16 flex-column">
      <div class = "inseter-panel  p16 ">
      
      </div>
      <div class = "inset-panel  p16 ">
      
      </div>
    </div>
  </main>

  
  <footer class = "panel flex-row mt16 ">
    <div class = "inset-panel fill m16">
      <div class="p16 g8 flex-row bold">mr. eats-it</div>
    </div>

      <img class = "inset-panel fill m16 " style='height: 50%; width: 50%; object-fit: contain' src="static/images/GdLlVOXa8AAAe43.jpg">

  </footer>
</body>
</html>
